Users
<hr>
Create New User 
<hr>
<form action="/admin/createuser" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <label for="email">Email</label>
    <input type="email" name="email">
    <button type="submit">Submit</button>
</form>

<br>
<hr>
<% users.forEach((user) => { %> 
    <hr>
    Username: <%= user.username %> UserID: <%= user._id %> 
    
    <form action="/admin/deleteuser/<%= user._id %>" method="post">
        <button type="submit">Delete User</button>
    </form>
    <form action="/admin/edituser/<%= user._id %>" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <label for="email">Email</label>
        <input type="email" name="email">
        <button type="submit">Edit User</button>
    </form>
    <hr>
<% }) %>
<hr>
<br>

Projects
<hr>
Create New Project
<hr>
<form action="/admin/createproject" method="post" enctype="multipart/form-data">
    <label for="projectName">Project Name</label>
    <input type="text" name="projectName">
    <label for="userID">User ID</label>
    <select name="userID">
        <% users.forEach((user) => { %> 
        <option value="<%= user._id %>"> <%= user.username %></option>
        <% }) %>
    </select>
    <label for="fileHTML">HTML File</label>
    <input type="file" name="fileHTML">
    <label for="fileCSS">CSS File</label>
    <input type="file" name="fileCSS">
    <label for="fileCSS">JS File</label>
    <input type="file" name="fileJS">
    <button type="submit">Submit</button>
</form>

<hr>
<% projects.forEach((project) => { %>
    <hr>
    Project Name: <%= project.projectName %> UserID: <%= project._id %> 
    
    <form action="/admin/deleteproject/<%= project._id %>" method="post">
        <button type="submit">Delete Project</button>
    </form>
    <form action="/admin/editproject/<%= project._id %>" method="post" enctype="multipart/form-data">
        <label for="projectName">Project Name</label>
        <input type="text" name="projectName">
        <label for="fileHTML">HTML File</label>
        <input type="file" name="fileHTML">
        <label for="fileCSS">CSS File</label>
        <input type="file" name="fileCSS">
        <label for="fileCSS">JS File</label>
        <input type="file" name="fileJS">
        <button type="submit">Edit Project</button>
    </form>
    <hr>
<% }) %>
<hr>