<div class="admin-section">

    <h3>Edit Users</h3>

    <div class="create-admin">
        <h4>Create New User </h4>
        <form action="/admin/createuser" method="post">
            <label class="code-label" for="username">Username</label>
            <input class="code-input" type="text" name="username">
            <label class="code-label" for="password">Password</label>
            <input class="code-input" type="password" name="password">
            <label class="code-label" for="email">Email</label>
            <input class="code-input" type="email" name="email">
            <button class="code-btn" type="submit">Submit</button>
        </form>
    </div>


<% users.forEach((user) => { %> 
    <div class="admin-list-item">
        Username: <%= user.username %> UserID: <%= user._id %> 
        
        <form action="/admin/deleteuser/<%= user._id %>" method="post">
            <button class="code-btn danger-btn" type="submit">Delete User</button>
        </form>
        <form action="/admin/edituser/<%= user._id %>" method="post">
            <label class="code-label" for="username">Username</label>
            <input class="code-input" type="text" name="username">
            <label class="code-label" for="password">Password</label>
            <input class="code-input" type="password" name="password">
            <label class="code-label" for="email">Email</label>
            <input class="code-input" type="email" name="email">
            <button class="code-btn" type="submit">Edit User</button>
        </form>
    </div>
<% }) %>
</div>

<div class="admin-section">
    
    <h3>Edit Projects</h3>
    
    <div class="create-admin">
        <h4>Create New Project</h4>
        <form action="/admin/createproject" method="post" enctype="multipart/form-data">
            <label class="code-label" for="projectName">Project Name</label>
            <input class="code-input" type="text" name="projectName">
            <label class="code-label" for="userID">User ID</label>
            <select name="userID">
                <% users.forEach((user) => { %> 
                <option value="<%= user._id %>"> <%= user.username %></option>
                <% }) %>
            </select>
            <label class="code-label" for="fileHTML">HTML File</label>
            <input class="code-input" type="file" name="fileHTML">
            <label class="code-label" for="fileCSS">CSS File</label>
            <input class="code-input" type="file" name="fileCSS">
            <label class="code-label" for="fileCSS">JS File</label>
            <input class="code-input" type="file" name="fileJS">
            <button class="code-btn" type="submit">Submit</button>
        </form>
    </div>

    <% projects.forEach((project) => { %>
        <div class="admin-list-item">
            Project Name: <%= project.projectName %> UserID: <%= project._id %> 
            
            <form action="/admin/deleteproject/<%= project._id %>" method="post">
                <button class="code-btn danger-btn" type="submit">Delete Project</button>
            </form>
            <form action="/admin/editproject/<%= project._id %>" method="post" enctype="multipart/form-data">
                <label class="code-label" for="projectName">Project Name</label>
                <input class="code-input" type="text" name="projectName">
                <label class="code-label" for="fileHTML">HTML File</label>
                <input class="code-input" type="file" name="fileHTML">
                <label class="code-label" for="fileCSS">CSS File</label>
                <input class="code-input" type="file" name="fileCSS">
                <label class="code-label" for="fileCSS">JS File</label>
                <input class="code-input" type="file" name="fileJS">
                <button class="code-btn" type="submit">Edit Project</button>
            </form>
        </div>
    <% }) %>
    
</div>