<h3>Welcome to your profile settings <%= user.username %> </h3>

<form action="/settings/edituser/<%= user._id %>" method="post">
    <div class="settings-form">
        <div class="settings-option">
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div class="settings-option">
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= user.email %>">
        </div>
        <div class="settings-option">
        <% if (typeof errorMessage !== "undefined") { %>
            <div class="error-message"><%= errorMessage %></div>
        <% } %>
        <button type="submit">Edit User</button>
        </div>
    </div>
</form>

<form action="/settings/deleteuser/<%= user._id %>" method="post">
    <button type="submit">Delete Account</button>
</form>



