Edit Profile <%= user.username %> 

<form action="/settings/edituser/<%= user._id %>" method="post">
    <label for="password">Password</label>
    <input type="password" name="password">
    <label for="email">Email</label>
    <input type="email" name="email" value="<%= user.email %>">
    <button type="submit">Edit User</button>
    <% if (typeof errorMessage !== "undefined") { %>
        <div class="error-message"><%= errorMessage %></div>
      <% } %>
</form>

<form action="/settings/deleteuser/<%= user._id %>" method="post">
    <button type="submit">Delete Account</button>
</form>



