<div class="editor-container">
  <div id="HTMLeditor" class="editor">HTML</div>
  <div id="CSSeditor" class="editor">CSS</div>
  <div id="JSeditor" class="editor">JS</div>
</div>

<form action="/project/save/<%= project._id %>" method="post">
  <label for="projectName">Project Name</label>
  <textarea name="projectName" id="projectName" type="text"><%= project.projectName %></textarea>
  <label for="writeHTML">HTML</label>
  <textarea  name="writeHTML" id="writeHTML"><%= project.file.fileHTML %></textarea>
  <label for="writeCSS">CSS</label>
  <textarea name="writeCSS" id="writeCSS"><%= project.file.fileCSS %></textarea>
  <label for="writeJS">JS</label>
  <textarea name="writeJS" id="writeJS"><%= project.file.fileJS %></textarea>
    <% if (userSignedIn) { %>
      <% if (project.userID == user._id + "") { %>
       <button type="submit" id="save-project-btn">Save</button> 
      <% } %>
    <% } %>
</form>

<form action="/project/publish/<%= project._id %>" method="post">
  <input name="hiddenProjectName" id="hiddenProjectName" class="hidden" type="text" value="<%= project.projectName %>">
  <input name="hiddenHTML" id="hiddenHTML" type="text" class="hidden" value="<%= project.file.fileHTML %>">
  <input name="hiddenCSS" id="hiddenCSS" type="text" class="hidden" value="<%= project.file.fileCSS %>">
  <input name="hiddenJS" id="hiddenJS" type="text" class="hidden" value="<%= project.file.fileJS %>">
    <% if (userSignedIn) { %>
      <% if (project.userID == user._id + "") { %>
    <button type="submit" id="publish-project-btn">Publish</button>
      <% } %>
    <% } %>
</form>
<div class="display-container">
  <iframe id="results-frame"></iframe>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js></script>
<script>
    var htmlEditor = ace.edit("HTMLeditor")
    var cssEditor = ace.edit("CSSeditor")
    var jsEditor = ace.edit("JSeditor");
    jsEditor.setTheme("ace/theme/twilight");
    jsEditor.session.setMode("ace/mode/javascript");
    cssEditor.setTheme("ace/theme/twilight");
    cssEditor.session.setMode("ace/mode/css");
    htmlEditor.setTheme("ace/theme/twilight");
    htmlEditor.session.setMode("ace/mode/html");

</script>

<script src="/javascripts/renderer.js"></script>

