<form action="/project/save/<%= project._id %>" method="post">
  <label for="projectName">Project Name</label>
  <input name="projectName" id="projectName" type="text" value="<%= project.projectName %>">
  <label for="writeHTML">HTML</label>
  <input name="writeHTML" id="writeHTML" value="<%= project.file.fileHTML %>">
  <label for="writeCSS">CSS</label>
  <input name="writeCSS" id="writeCSS" value="<%= project.file.fileCSS %>">
  <label for="writeJS">JS</label>
  <input name="writeJS" id="writeJS" value="<%= project.file.fileJS %>"></input>
  <button type="submit" id="save-project-btn">Save</button> 
</form>

<form action="/project/publish/<%= project._id %>" method="post">
  <input name="hiddenProjectName" id="hiddenProjectName" class="hidden" type="text" value="<%= project.projectName %>">
  <input name="hiddenHTML" id="hiddenHTML" type="text" class="hidden" value="<%= project.file.fileHTML %>">
  <input name="hiddenCSS" id="hiddenCSS" type="text" class="hidden" value="<%= project.file.fileCSS %>">
  <input name="hiddenJS" id="hiddenJS" type="text" class="hidden" value="<%= project.file.fileJS %>">
  <button type="submit" id="publish-project-btn">Publish</button>
</form>
<div class="display-container">
  <iframe id="results-frame"></iframe>
</div>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<script src="/javascripts/renderer.js"></script>

