
<form action="/project/save/<%= project._id %>" method="post">
  <label for="projectName">Project Name</label>
  <textarea name="projectName" id="projectName" type="text"><%= project.projectName %></textarea>
  <label for="writeHTML">HTML</label>
  <textarea  name="writeHTML" id="writeHTML"><%= project.file.fileHTML %></textarea>
  <label for="writeCSS">CSS</label>
  <textarea name="writeCSS" id="writeCSS"><%= project.file.fileCSS %></textarea>
  <label for="writeJS">JS</label>
  <textarea name="writeJS" id="writeJS"><%= project.file.fileJS %></textarea>
    <% if (userSignedIn) { %>
    <button type="submit" id="save-project-btn">Save</button> 
    <% } %>
</form>

<form action="/project/publish/<%= project._id %>" method="post">
  <input name="hiddenProjectName" id="hiddenProjectName" class="hidden" type="text" value="<%= project.projectName %>">
  <input name="hiddenHTML" id="hiddenHTML" type="text" class="hidden" value="<%= project.file.fileHTML %>">
  <input name="hiddenCSS" id="hiddenCSS" type="text" class="hidden" value="<%= project.file.fileCSS %>">
  <input name="hiddenJS" id="hiddenJS" type="text" class="hidden" value="<%= project.file.fileJS %>">
    <% if (userSignedIn) { %>
    <button type="submit" id="publish-project-btn">Publish</button>
    <% } %>
</form>
<div class="display-container">
  <iframe id="results-frame"></iframe>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
</script>

<script src="/javascripts/renderer.js"></script>

