<script src = "/animation/animationHome.js"></script>
<div class="banner" id="banner">
  <div class ="bannerText">
    <h1>MonkeyCode</h1>
    <h5>Build your code snippets online</h5>
  </div>
</div>

<div class="projects-section">
  <div class="section-title container">
    <h4>Newest Projects</h4>
    <input class="search-projects" type="search" placeholder="Search projects">
  </div>
  <div class="projects-display">
    <% projects.reverse(); projects.forEach((project, i) => { %>
        <% if (project.isPublic) { %>
        <% var source = project._id %>
        <% console.log(source) %>
        <div class="project-box">
            <div class="project-image">
              <iframe class="project-image-iframe" src= "/render/<%= source%>"> </iframe>

            </div>
            <div class="project-info">
              <p id="project-name"><a class="project-link" href="/project/<%=project._id%>"><%= project.projectName %></a></p>
              <p id="project-author-name">By: <a class="project-author" href="/profile/<%=project.userID._id%>"><%= project.userID.username %></a></p>
            </div>
        </div>
        <% } %>
    <% }) %>
  <div class="none-found">
    <p>Unfortunately no projects match your current search</p>
  </div>
  </div>
</div>
