<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<div class="projects-display">
  <% if (userSignedIn) { %>
    <div class="project-box create-project-box">
        <div class="project-image">
        </div>
        <div class="project-info">
          <a href="/project/new">Create Project</a>
        </div>
    </div>
  <% } %>
  <% projects.forEach((project) => { %>
    <% if (project.isPublic) { %>
    <div class="project-box">
        <div class="project-image">
          <iframe class="project-image-iframe" id="<%= project._id %>"></iframe>
          
          <script>
                var thumbnailRenderer = function (projectId, htmlFile, cssFile, jsFile) {

                    const frame = document.getElementById(projectId);
                    const contents = frame.contentWindow.document;
                    const body = contents.body
                    const styling = contents.head

                    const bodyText = htmlFile;
                    styling.innerHTML = "<style>" + cssFile + "</style>";
                  };
                thumbnailRenderer("<%= project._id %>", "<%= project.file.fileHTML %>", "<%= project.file.fileCSS %>", "<%= project.file.fileJS %>")
          </script>
        </div>
        <div class="project-info">
          <p>Project: <a class="project-link" href="/project/<%=project._id%>"><%= project.projectName %></a></p>
          <p>User: <a href="/profile/<%=project.userID._id%>"><%= project.userID.username %></a></p>
        </div>
    </div>
    <% } %>
  <% }) %>
</div>


