
<div class="projects-display">
  <% projects.forEach((project) => { %>
    <div>
      PROJECT
      <ul>
        Project Name: <a href="/project/<%=project._id%>"><%= project.projectName %></a>
      </ul>
      <ul>
        Project ID: <%= project._id %>
      </ul>
      <ul>
        User: <a href="/profile/<%=project.userID._id%>"><%= project.userID.username %></a>
      </ul>
      <ul>
        Files:
          <li>JS: <%= project.file.fileJS %></li>
          <li>CSS: <%= project.file.fileCSS %></li>
          <li>HTML: <%= project.file.fileHTML %></li>
      </ul>
    </div>
  <% }) %>
</div>
