 <div class="navbar">
    
    <a href="/admin">Admin Panel</a>
    <a href="/settings">User Settings</a>
    <div class="login-box">
        <form method="post" action="/login">
            <input type="text" name="username">
            <input type="password" name="password">
            <% if (typeof message != "undefined") { %>
                <div class="error-message"><%= message %></div>
            <% } %>
            <button type="submit">Log In</button><br><br>
        </form>
    </div>
    <div class="signup-box">
      <form action="/signup" method="POST">
          <div>
            <label for="username">Username:</label>
            <input type="text" name="username">
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
          </div>
          <div>
            <label for "email">Email Address</label>
            <input type="email" name="email">
          </div>
          <div>
            <input type="submit" value="Sign Up">
          </div>
      </form>
    </div>
</div>
<div class="projects-display">
  <% projects.forEach((project) => { %>
    <div>
      PROJECT
      <ul>
        Project Name: <%= project.projectName %>
      </ul>
      <ul>
        Project ID: <%= project._id %>
      </ul>
      <ul>
        User: <%= project.userID %>
      </ul>
      <ul>
        Files:
          <li>JS: <%= project.file.fileJS %></li>
          <li>CSS: <%= project.file.fileCSS %></li>
          <li>HTML: <%= project.file.fileHTML %></li>
      </ul>
    </div>
  <% }) %>
</div>
